/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

.bgContainer {
  background-color: #07080c;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;
}
.image-logo {
  height: 300px;
  width: 300px;
}
.indication {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 400;
}

.description {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 30px;
}
.button1 {
  background-color: #0b69ff;
  height: 45px;
  width: 90px;
  border-radius: 8px;
  border-width: 0px;
  color: #94a3b8;
}
.button2 {
  color: #94a3b8;
  border-color: #94a3b8;
  height: 45px;
  width: 90px;
  border-radius: 8px;
  border-width: 0px;
}

@media screen and (min-width: 768px) {
  .bgContainer {
    background-color: #07080c;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-size: 60px;
  }
  .image-logo {
    height: 500px;
    width: 500px;
  }
  .indication {
    font-size: 35px;
  }

  .description {
    font-size: 30px;
  }
}
